<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Доброта - основа и общества</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/img/icon.png">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/slicknav.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
		
		<!-- Xman CSS -->
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <body>
		
		<!-- Social -->
		<div class="social-body">
			<ul>
				<li class="instagram"><a href="https://www.instagram.com/orengym1/"><i class="fa fa-instagram"></i></a></li>
				<li class="vk"><a href="https://vk.com/projectorengym1"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>
		<!--/ End Social -->
		
		<!-- Header Area -->
		<header id="header" class="header">
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
						</div>
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li class="current"><a href="#slider">Основная</a></li>
										<li><a href="#about">О НАС</a></li>
										<li><a href="#skill">Многообразие населения</a></li>
										<li><a href="#story">Инклюзия образования</a></li>
										<li><a href="#latest-works">Уроки настоящего</a></li>
										<li><a href="#contact">Опрос</a></li>
										<li><a href="#map">Карта месторождения</a></li>
									</ul>
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section id="slider" class="slider" style="background-image:url('static/img/slider.png')">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="text">
							<h1>МОАУ "Гимназия №1". Уроки настоящего. Инклюзивность</h1>
							<p>Инклюзивное образование (инклюзивная учеба), также называемое инклюзией, – это образование, которое включает всех: все учащиеся посещают обычные школы, колледжи и университеты, соответствующие их возрасту, и получают поддержку, чтобы учиться, вносить свой вклад и участвовать во всех аспектах жизни учебного заведения.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start about -->
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="section-title">
								<h2>О <span>НАС</span></h2>
							</div>
						</div>
						<div class="col-md-6  col-sm-6 col-xs-12">
							<div class="single-about">
								<p class="bolt">Привет! Мы супер крутые ребята. Смотрите, какой классный у нас сайт.</p>
								<p>И мы все за инклюзивность! Ведь инклюзивность - это круто.</p>
								<p class="bolt">У нас в школе куча инвалидов! Наша школа - за инклюзивность!</p>
								<div class="social">
									<ul>
										<li><a href="https://vk.com/projectorengym1"><i class="fa fa-vk"></i></a></li>
										<li><a href="https://www.instagram.com/orengym1/"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="image">
								<img src="static/img/about.jpg" alt="#">
								<a href="static/video/pf11.mp4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End about -->
		
		<!-- Start skill -->
		<section id="skill" class="skill section">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-12 col-xs-12">
						<div class="section-title">
							<h2>Многообразие<span>       Населения</span></h2>
						</div>
					</div>
					<div class="col-md-10 col-sm-12 col-xs-12">
						<div class="skill-head">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="skill-content">
										<h3></h3>
										<p><b></b></p>
										<p></p>
										<p><b></b></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="skill-main">
										{% for n,pr in anal %}
										<div class="single-skill">
											<div class="skill-title">
												<h4>{{n}}</h4>
											</div>
											<div class="progress two">
												<div class="progress-bar" data-percent={{pr}}>
													<span>{{pr}}%</span>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End skill -->	
		
		<!-- Start Story -->
		<section id="story" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Инклюзия <span> образования</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.4s">{{ans[0]}}</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
									<h3>Опрошенных чувствуют себя ущемленными</h3>
									<p>И эти дети страдают</p>
									<p class="p2">Они чувствуют себя ущемленными</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">{{ans[1]}}</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
									<h3>Опрошенных - за инклюзивность</h3>
									<p>И эти дети страдают</p>
									<p class="p2">Они чувствуют себя ущемленными</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">{{ans[2]}}</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Опрошенных согласны учиться в одном классе с инвалидом</h3>
									<p>И эти дети страдают</p>
									<p class="p2">Они чувствуют себя ущемленными</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">{{ans[3]}}</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Опрошенных - инвалиды</h3>
									<p>И эти дети страдают</p>
									<p class="p2">Они чувствуют себя ущемленными</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->	
		
		<!-- Latest Works -->
		<section id="latest-works" class="latest-works section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>УРОКИ<span> НАСТОЯЩЕГО</span></h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="isotop-active">
						<div class="col-md-4 col-sm-4 col-xs-12 print identity">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf1.jpg" alt="#">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">ОБЖ</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 wordpress branding">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf2.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">БОТЫ И НАКРУТКА В ВК</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 web">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf3.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">НАША ЛЮБИМАЯ ПОЛИНА ГАГАРИНА</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12  wordpress">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf4.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">ЗНАЧОК</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12  branding">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf5.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">ПРОСТО СОВМЕСТНО ФОТО</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12  branding">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf6.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">КЛАССНЫЕ ЛИЦА</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 web print">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf7.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">РУКИ</a></h4>
									<div class="link"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 web print">
							<!-- single-work -->
							<div class="single-work">
								<img src="static/img/pf8.jpg" alt="">
								<div class="works-hover">
									<h4><a href="pf-2colum.html">ШКОЛА</a></h4>
									<div class="link"><a href="portfolio-single.html"></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Works -->
	
		<!-- Contact -->
		<section id="contact" class="contact section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="contact-info">
							<h4>Опрос</h4>
							<p>Пожалуйста, пройдите опрос. Мы поймем, сколько на самом деле школ проводят мероприятия по инклюзии</p>
							<p>Каждый голос важен для нас</p>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12 ">
						<div class="form-head">
							<form class="form" action="#skill" method="post">
<form class="survey_form" method="post">
									<input class="form-control" id="birthplace" placeholder="Место рождения" name="birthplace"><Br>
                                    <div class="form-group">
                                        <label>Выберите свой пол</label>
                                        <p><input type="radio" name="gender" value="Женщина" style="height:20px; width:20px; vertical-align: middle;">Женский<Br>
                                        <input type="radio" name="gender" value="Мужчина" style="height:20px; width:20px; vertical-align: middle;">Мужской<Br>
                                        </div>
                                    <div class="form-group">
									<label>Национальность</label><Br>
									<select id="nationality" name="nationality">
									{% for n in nation %}
										<option name="nationality" value={{n}} >{{n}}</option>
										{% endfor %}
									</select>
								</div>
                                    <div class="form-group">
                                        <label>У вас есть инвалидность?</label>
                                        <p><input type="radio" name="disability" value=1 style="height:20px; width:20px; vertical-align: middle;">Да<Br>
                                        <input type="radio" name="disability" value=0 style="height:20px; width:20px; vertical-align: middle;">Нет<Br>
                                        </div>
									<p><input type="checkbox" name="f1" value="1" style="height:20px; width:20px;">  Я чувствую/чувствовал себя ущемленным</p>
									<p><input type="checkbox" name="f2" value="1" style="height:20px; width:20px;">  Я - за инклюзивность в образовании</p>
									<p><input type="checkbox" name="f3" value="1" style="height:20px; width:20px;">  Я согласен учиться в одном классе с инвалидом</p>
                                    <Br>
									<button type="submit" class="btn btn-secondary">Отправить</button>
                                </form>
</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact -->


		<!-- Start about -->
		<section id="map" class="map">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
						</div>
						<div class="col-md-6  col-sm-6 col-xs-12">
							<br>
							<br>
							<br>
							<div class="section-title">
								<h2>Карта<span> Рождения</span></h2>
							</div>
							<br>
							<br>
							<br>
							<div class="single-about">
								<h3>На ней вы можете видеть места рождения других людей, принявших участие в опросе</h3>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="image">
								<img src="static/img/map.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End about -->

		
		<!-- Footer -->
		<footer id="footer" class="footer section">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Social -->
							<ul class="social">
								<li><a href="https://vk.com/projectorengym1"><span class="fa fa-vk"></span></a></li>
								<li><a href="http://www.1-гимназия.рф/"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="https://www.instagram.com/orengym1/"><span class="fa fa-instagram"></span></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2021 Сделано Вечеренко Анастасией</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
        <script src="static/js/jquery.min.js">  </script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.nav.js"></script>
        <script src="static/js/jquery.slicknav.min.js"></script>
        <script src="static/js/easing.min.js"></script>
		<script src="static/js/jquery-appear.js"></script>
        <script src="static/js/jquery.scrollUp.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="static/js/jquery.counterup.min.js"></script>
		<script src="static/js/isotope.pkgd.min.js"></script>
		<script src="static/js/wow.min.js"></script>
		<script src="static/js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0RqLa90WDfoJedoE3Z_Gy7a7o8PCL2jw"></script>
        <script type="text/javascript" src="static/js/gmaps.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
